version: '3.1'
services:
  database:
    image: 'bitnami/mongodb'
    container_name: 'mongo'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=1234
    ports:
      - 27017:27017

  elasticsearch:
    image: 'elasticsearch:7.10.1'
    container_name: 'elasticsearch'
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    volumes:
      - data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic

  kibana:
    image: 'kibana:7.10.1'
    container_name: 'kibana'
    ports:
      - 5601:5601
    networks:
      - elastic

volumes:
  data:
    driver: local

networks:
  elastic:
    driver: bridge
